.large-class {
  position: relative;
  color: #00ff00;
  background: grey;
  height: 700px;
  margin-bottom: 10px;
}

.bottom {
  right: 0px;  
  color: #00ff00;
  position: absolute;
  bottom: 0px;
  background: black;
}



